* text=auto

*.c text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.rc text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
/tests/samples/*.[tT][xX][tT] binary

*.bmp binary
*.cur binary
*.exe binary
*.ico binary
*.lib binary
*.png binary
*.zip binary
